<nav id="navbar" class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand ml-5 my-1 text-light" routerLink="/">USC Films</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-4 active">
            <a class="text-light" routerLink="/">Home</a>
        </li>
        <li class="nav-item ml-5">
            <a class="text-secondary" routerLink="/mylist">My List</a>
        </li>
    </ul>

    <form class="form-inline mr-5">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
</nav>